* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  // background-image: ;
  margin: 20px;
  background-color: rgb(248, 248, 248);
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 60px;
}

// .hero-image {
//   background-image: url(https://upload.wikimedia.org/wikipedia/en/3/30/Miffy%2C_by_Dick_Bruna.jpg);
//   height: 50%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
// }

.about {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 30px;
  padding: 20px;
}

.projects-teaser {
  padding: 20px;
}

footer {
  text-align: center;
  font-family: sans-serif;
  padding: 50px;
}

.topNav {
  background-color: rgb(248, 248, 248);
  overflow: hidden;
}

.topNav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topNav a:hover {
  background-color: rgb(227, 227, 227);
  color: white;
}

// .topNav a.active {
//   background-color: rgb(244, 227, 238);
//   color: whitesmoke;
// }

.topNav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topNav a:not(:first-child) {
    display: none;
  }
  .topNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topNav.responsive {
    position: relative;
  }
  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
  box-shadow: 0 8px 16px 0 rgba(227, 227, 227, 2);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.logos {
  height: auto;
  width: 50px;
  margin: 5px;
}

.projects-detailed {
  font-size: 30px;
}

.projects-detailed > div > a > img {
  height: 500px;
  width: 500px;
}

.tech-detailed > div > h2 {
  font-size: 45px;
}
